<h1>All are welcome at The Wayfarer Inn</h1>

<h2><p>I know it seems an improbable place to find an inn, especially a mansion turned inn, that isn't on any documented travel routes but you are welcome here. </p> 
<p>Come in traveler and partake of our hospitality.</p>
<!-- <p><%= @message %></p></h2> -->
